* {
/* `otf-font-awesome` is required to be installed for icons */
    font-family: "Jetbrains Mono";
    font-feature-settings: '"zero", "calt", "ss02", "cv03", "cv04", "cv09", "cv12", "cv18", "cv19"';
    font-size: 13px;
    color: #000000;
}

#window {
    background-color: transparent;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0px 10px;
    margin: 7px 3px 0px 5px;
}

#match {
    padding: 1px;
    margin: 1px;
}

#entry {
    background-color: #FFFFFF;
    color: #000000;
    padding: 0px 5px;
    margin: 5px;
    border: 2px solid #33CCFF; border-radius: 10px;
}

#plugin {
    background-color: #FFFFFF;
    color: #000000;
    padding: 1px;
    margin: 2px;
    border: 2px transparent; border-radius: 10px;
}

#main {
    background-color: transparent;
    color: #000000;
    padding: 1px;
    margin: 3px;
    border: 2px transparent; border-radius: 10px;
}
